# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.EZMedChatMobile.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\dev\xamarin projects\EZMedChat\EZ-MedChat-Mobile\EZMedChatMobile\.idea\.idea.EZMedChatMobile\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
